body {
  font-family: "helvetica", sans-serif;
}
.todo-container{
	width:50%;
	margin:0 auto;
}
.todo-list{
	list-style: none;
}
.todo-list .todo-item{
	height: 30px;
	line-height: 30px;
}
.todo-list .todo-item > span {
	display: inline-block;
}
.todo-list .todo-item > span.btn {
	float:right;
}