<!doctype html>
<html>
	<head>
		<title>ToDo list</title>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='normalize.css') }}">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>

		<div class="todo-container">
			<header class="todo-header"><h1>Todo List:</h1></header>
			<ul class="todo-list">
				<li>No todos</li>
			</ul>
			<a href="#" class="todo-link-add">+ Add todo</a>
			<div class="todo-form-add" style="display:none;">
				<input type="text" class="todo-input-add">
				<button class="todo-save">Save</button>
				<button class="todo-cancel">Cancel</button>
			</div>
		</div>

		<script src="{{ url_for('static', filename='lodash.js') }}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='script.js') }}"></script>
		<script type="text/javascript">
			this.Todo = new Todo();
			this.Todo.build();
			$(document).ready(function(){
				$(document).on('click', '.todo-link-add', function(e){
					e.preventDefault();
					$(this).hide();
					$('.todo-form-add').show();
				});
				$(document).on('click', '.todo-cancel', function(e){
					e.preventDefault();
					$('.todo-link-add').show();
					$('.todo-form-add').hide();
					$('.todo-input-add').value('');
				});
				$(document).on('click', '.todo-save', function(e){
					e.preventDefault();
					var value = $('.todo-input-add').val().trim();
					Todo.addItem(value);
				});
			});
		</script>
	</body>
</html>